.navbarcontainer {
  /* Aplica estilos al elemento con la clase "mi-elemento" */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2em;
  height: 5em;
  /* background-color: rgba(255, 0, 0, 0);  */
}

.navcontainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
/* .navbarimg {
  width: 4em;
  height: 4em;
  border-radius: 2em;
} */

.navbarul {
  display: flex;
  gap: 1em;
  text-decoration: none;
  list-style-type: none;
  padding-right: 1em;
  color: rgb(253, 253, 253);
}

.navbarli {
  text-decoration: none;
}

.navbarlink {
  text-decoration: none;
  display: flex;
  align-items: center;
}
